/* html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.title {
  margin: 20px auto 0;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.links .link {
  margin-top: 20px;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
}

.component.first-component {
  background-color: gray;
  position: relative;
}

.first-component--inside-scroller {
  position: absolute;
  right: 20px;
  top: 100px;
}

.component.second-component {
  background-color: red;
}

.component.third-component {
  background-color: blue;
}

.component.fourth-component {
  background-color: yellow;
}

.component.fifth-component {
  background-color: purple;
}

h2 {
  margin: auto;
  text-align: center;
}

.pagination-additional-class {
  margin: 0;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
  margin-right: 50px;
}

.demo-page-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.demo-page-contain__hint {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .pagination-additional-class > li:not(:last-of-type) > a, .pagination-additional-class > li:not(:last-of-type) > span {
      margin-right: 5px;
  }
} */



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  overflow: hidden;

  /* background: linear-gradient(126deg, rgba(61, 61, 61, 1) 16%, rgba(33, 33, 33, 1) 72%); */
  /* font-family: 'Lora', serif; */
  background-color: #03272e;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

.component {
  display: flex;
  width: 100%;
  height: 100%;
}
/* .component > *:not(.home-bg){
  align-items: center;
  margin: 0 auto;
  vertical-align: middle;
  
  transform: translateY(64px);
} */

.component > *{
  align-items: center;
  margin: 0 auto;
  vertical-align: middle;
  
  /* transform: translateY(64px); */
}

@media (max-width: 600px) { 
  .component > *{
    transform: none;
  }
}